<%- include("header") -%>
<h2>I am your Father</h2>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quibusdam
	consectetur dolorem mollitia, cupiditate quasi. Deleniti quae blanditiis
	natus, labore id non totam est quidem nemo culpa! Reprehenderit, dicta cum!
</p>
<%- include("footer") -%>
